body
{background-color:rgba(0, 0, 0, 0.144);
    text-align: left;
    font-style:italic;
    margin-left: auto;
}
h1 {
    color:darkolivegreen;
    margin-left: auto;
}
h2 { 
    color:darkolivegreen;
    margin-left: auto;
}
p {
    color:darkolivegreen;
    font-size:medium;
    margin-left: auto;
}
ul{
color:darkolivegreen;/*darkolivegreen*/
}
.img1{
    width:50%;
}
.img2{
    width:50%;
}
.img3{
    width:70%;
}
.img4{
    width:60%;
}
.img5{
    width:50%;
}
.img6{
    width:70%;
}
.img7{
    width:60%;
}
.img8{
    width:50%;
}
.img9{
    width:50%;
}
.img10{
    width:50%;
}
.img11{
    width:60%;
}
.img12{
    width:50%;
}
.img13{
    width:80%;
}
.img14{
    width:60%;
}
.img15{
    width:50%;
}
.img16{
    width:80%;
}
.img17{
    width:65%;
}
.img18{
    width:60%;
}
body