body
{background-color:white;
    text-align: left;
    font-style:italic;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    color:darkolivegreen;
    margin-left: auto;
}
h2 { 
    color:darkolivegreen;
    margin-left: auto;
    margin-right: auto;
    font-size:large;
}
p {
    color:darkolivegreen;
    font-size:large;
    margin-left: auto;
    margin-right: auto;
}
ul{
color:darkolivegreen;/*darkolivegreen*/
}
.img1{
    width:30%;
}
.img2{
    width:30%;
}
.img3{
    width:30%;
}
.img4{
    width:30%;
}
.img5{
    width:30%;
}
.img6{
    width:30%;
}
.img7{
    width:30%;
}
.img8{
    width:30%;
}
.img9{
    width:30%;
}
.img10{
    width:30%;
}
.img11{
    width:30%;
}
.img12{
    width:30%;
}
.img13{
    width:30%;
}
.img14{
    width:30%;
}
.img15{
    width:30%;
}
.img16{
    width:30%;
}
.img17{
    width:30%;
}
.img18{
    width:30%;
}
body