body
{background-color:white;
    text-align: left;
    font-style:italic;
    margin-left: auto;
    margin-right: auto;
    text-size-adjust:100%;
    padding: 20px; /* 20px em todos os lados */
    .box {
    background-color:darkolivegreen;
    padding: 20px; /* Espaçamento interno de 20px */
    border: 1px solid darkolivegreen;
    .flex-container{
    display: flex;
    }
     
    
   
}
h1 {
    color:darkolivegreen;
    font-family: 'Arial', sans-serif;
    font-size:xx-large;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin: 20px 0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    display: inline;
}
h2 { 
    color:darkolivegreen;
    font-family: 'Arial', sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin: 20px 0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
p {
    color:darkolivegreen;
    font-size:large;
    margin-left: auto;
    margin-right: auto;
}
ul{
color:darkolivegreen;/*darkolivegreen*/
}
.img1{
    width: 600px;
}
.img2{
    width: 600px;
}
.img3{
    width:794px;
}
.img4{
    width: 600px;
}
.img5{
    width:600px;
}
.img6{
    width:600px;
}
.img7{
    width:600px;
}
.img8{
    width:600px;
}
.img9{
    width:600px;
}
.img10{
    width:600px;
}
.img11{
    width:550px;
}
.img12{
    width:794px;
}
.img13{
    width:600px;
}
.img14{
    width:550px;
}
.img15{
    width:700px;
}
.img16{
    width:600px;
}
.img17{
    width:700px;
}
.img18{
    width:550px;
}
body